*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input, textarea, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.box-one{
    color: white;
    background-image: url(/images/image-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 100vh;
    max-height: 100vh;
}

.box-one__image{
    width: auto;
    height: auto;
}

/* Header STYLE added in components */

/* not header */

.box-one__title{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 50% 0 0 0; */
    padding: 0 0 6em 0;
 
}

.box-one__title__title{
    font-size: 48px;
    font-weight: 700;
    margin: 0;

}

.box-one__title__sub{
    font-size: 32px;
    font-weight: 700px;
    margin: 10px;
}

/* BOX-TWO  ///////////////////////////////////////////////////// */

.box-two__text{
    background-color: #141414;
    color: #FFFFFF;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box-two__person-img{
    display: none;
    margin: 0 30px;
}

@media(min-width:768px){
    .box-two {
        background-color: #FFFFFF;
        color: #141414;
        display: flex;

    }
    .box-two__text{
        background-color: #FFFFFF;
        color: #141414;
        display:flex;
        flex-direction: column;
        order: 2;
        padding-left: 4em;
    }
    .box-two__person-img{
        display: flex;
        align-self: flex-end;
        width: 300px;
        /* Tratar de elegir imagenes de personas heigth > width */
    }
}

.box-two__about-me{
    font-size: 32px;
    margin-bottom: 10%;
    margin-top: 1em;
}

.box-two__description{
    display: flex;
    margin: 1em 2em 4em 2em;
    line-height:25px;
    text-align: center;
}


/* BOX- THREE ----------------------------------- *js agregar*/

.box-three-title{
    font-size: 32px;
    font-weight: 700px;
    margin: 0;
    padding: 70px 0 20px;
    background-color: #343A3A;
    color: #FFF;
    display: flex;
    justify-content: center;
}

.box-three{
    background-color: #343A3A;
    color: #FFF;
    display: grid;
    gap: 2em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    justify-items: center;
}
@media (min-width:768px) {
    .box-three{
        padding: 1em;
    }
}


.box-three__service{
    display: grid;
    grid-template-columns: 300px;
    justify-items: center;
    padding: 20px;
}

.box-three__service__img{
    width: 130px;
    margin: 20px;
    padding: 0px;
}

.box-three__service__title{
    font-size: 24px;
    font-weight: 700px;
    margin: 0;
    /* padding: 20px 0px 10px; */
}

.box-three__service__description{
    text-align: center;
}

