/* BOX-FOUR - CONTACT ************************************************/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.box-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    color: white;
    justify-content: center;
    padding: 20px;
    min-height: 200px;
}
@media (min-width: 768px){
    .box-four{
        display: grid;
        grid-template-columns: 280px 400px;
        gap: 2em 3em;
    }
}


.box-four__title{
    font-size: 32px;
}
@media (min-width: 768px){
    .box-four__title{
        justify-self: end;
        align-self: start;
        font-size: 48px;
        padding-top: 0px;
    }
}


#box-four__form{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .box-four__form{
        justify-self: start;
        align-self: end;
    }
}


.form__label{
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
}

.form__input{
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 4px;
}
@media (min-width: 768px){
    .form__input{
        width: 376px;
        height: 45px;
        border: none;
        border-radius: 4px;
    }

}



.form__textarea{
    border-radius: 4px;
    width: 300px;
}
@media (min-width: 768px){
    .form__textarea{
        border-radius: 4px;
        width: 376px;
    }
}


.box-four__button{
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 4px;
    font-weight: 500px;
    background-color: #2C2C2C;
    color: #FFFFFF;
    margin: 0px 30px 20px;
  
}
@media (min-width: 768px){
    .box-four__button{
        grid-column: 2 /span 2;
        grid-row: span 2;
        justify-self: start;
        align-self: start;
        width: 376px;
    }
}


.box-four__button:hover{
    background-color: grey;
}
.box-four__button:active{
    background-color: aquamarine;
}

